<!DOCTYPE html>
<html lang="@Implem.Pleasanter.Libraries.Server.Sessions.Language()">
    <head>
        @using Implem.DefinitionAccessor
        @using System.Web.Optimization
        <meta http-equiv="X-UA-Compatible" content="IE=11" />
        <meta http-equiv="content-language" content="ja" />
        <meta charset="utf-8" />
        <meta name="keywords" content="@Parameters.General.HtmlHeadKeywords">
        <meta name="description" content="@Parameters.General.HtmlHeadDescription" />
        <meta name="author" content="@Parameters.General.HtmlHeadAuther">
        <meta name="viewport" content="@Parameters.General.HtmlHeadViewport" />
        <link rel="stylesheet" href="~/Styles/Plugins/Normalize.css" />
        <link rel="stylesheet" href="~/Styles/Plugins/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/Styles/Plugins/jquery.datetimepicker.min.css" />
        <link rel="stylesheet" href="~/Styles/Plugins/jquery.multiselect.css" />
        <link rel="stylesheet" href="~/Styles/Plugins/jquery.multiselect.filter.css" />
        @Styles.Render("~/content/styles")
        <title>@Parameters.General.HtmlTitle</title>
    </head>
    <body style="visibility:hidden">
        @RenderBody()
    </body>
</html>